<ng-container *ngIf="hotels$|async as hotel">
	<div class="image__container d-flex flex-nowrap">
		<img *ngFor="let image of hotel.photos" [src]="'https://media.graphcms.com/'+ image.handle" class="img-fluid hero__img" alt="">
	</div>

	<div class="container">s
		<h2 class="destination__name text-white">{{hotel.name}}</h2>

		<div class="social mt-3 d-flex">
			<div class="btn btn-primary">
				<img src="../../assets/heart.svg" alt="like" class="svg-small">
			</div>
			<div class="btn btn-outline-info ml-2">Share</div>
		</div>

		<p class="text-white text__description mt-5">{{hotel.description}}</p>


		<h3 class="text-white mt-5 mb-2">Most popular facilities</h3>
		<ng-container *ngFor="let amentity of hotel.amenities">
			<span class="badge badge-pill badge-success">{{amentity}}</span>
		</ng-container>


		<h3 class="text-white mt-5 mb-2">Contact</h3>

		<div class="mb-3 contact__phone">
			<img src="../../assets/phone.svg" alt="phone" class="svg">
			<a href="tel:{{hotel.phone}}">{{hotel.phone}}</a>
		</div>
		<div class="contact__website">
			<img src="../../assets/global.svg" alt="website" class="svg">
			<a href="{{hotel.website}}">{{hotel.website}}</a>
		</div>


		<h3 class="text-white mt-5 mb-3">Reviews</h3>

		<div class="d-flex justify-content-between flex-nowrap opinion__container mb-3">
			<ng-container *ngIf="hotel.reviews.length !==0; else noreviews">
				<div *ngFor="let review of hotel.reviews" class="card  mb-3" style="max-width: 18rem;">
					<ng-container *ngIf="review.attribution">
						<div class="card-header text-white">{{review.attribution}}</div>
						<div class="card-body text-primary text-white">
							<p class="card-text" [innerHTML]="review.content.html"></p>
						</div>
					</ng-container>
				</div>
			</ng-container>

			<ng-template #noreviews>
				<p>Nobody commented this hotel. Be first!</p>
			</ng-template>
		</div>

	</div>
</ng-container>

