<section class="feed-section">
    <div class="container mt-5 mb-5">
        <div *ngFor="let destination of destinations"
             [routerLink]="['/article', article.id]"
             class="card w-100 text-white  mb-3" >
            <div class="card-header">{{article.title}}</div>
            <div class="card-body">
                <h5 class="card-title">{{article.id}}</h5>
                <p class="card-text">{{article.body}}</p>
                <a href="#" class="btn btn-primary">Like</a>
                <a href="#" class="btn btn-outline-info ml-3">Share</a>
            </div>
        </div>

        <div class="card w-100 text-white mb-3" >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>

        <ng-container>

        </ng-container>

    </div>
</section>
